.footer 
    .footer-menu
        .footer-menu__group
            .footer-menu__group-title Про проект
            ul.footer-menu__group-links
                li
                    a(href="about.html") Про Комплекс 
                li  
                    a(href="#") Переваги 
                li  
                    a(href="#") Документи 
                li  
                    a(href="gallery.html") Галерея 
                li  
                    a(href="#") Хід будівництва 
                li  
                    a(href="contact.html") Контакти
        .footer-menu__group
            .footer-menu__group-title Обрати квартиру
            ul.footer-menu__group-links
                li 
                    a(href="#") За поверхом 
                li 
                    a(href="#") За параметрами 
                li 
                    a(href="#") 1-Кімнатні 
                li 
                    a(href="#") 2-Кімнатні 
                li 
                    a(href="#") 3-Кімнатні 
                li 
                    a(href="#") 4-Кімнатні 
                li 
                    a(href="#") Комерційна нерухомість
        .footer-menu__group
            .footer-menu__group-title Будівництво
            ul.footer-menu__group-links
                li 
                    a(href="#") Панорама 
                li 
                    a(href="web-camera.html") Веб-камера 
                li 
                    a(href="developers.html") Забудовник 
                li 
                    a(href="news.html") Новини 
                li 
                    a(href="#") Розташування 
                li 
                    a(href="#") Iнфраструктура
        .footer-menu__group
            .footer-menu__group-title Відділ продажу
            ul.footer-menu__group-links.footer-menu__group-links-last
                li 
                    a(href="#") с. Погреби вул. Кутузова 1 
                    a(href="tel:+380961653030") +38 (096) 165-30-30 

    .social-links
        a.link(target='_blank' href="https://www.youtube.com/channel/UC6nEeqoZuW7doWz9514u-6g") YOUTUBE
        a.link(target='_blank' href="https://www.instagram.com/comfort_life_development/") INSTAGRAM
        a.link(target='_blank' href="https://www.facebook.com/ComfortLifeDevelopment") FACEBOOK
        a.link(target='_blank' class="form-call-button-js") #{lang.zvorot[version]}
    span.copyright-span © #{lang.rightsReserved[version]}
    span.smarto-logo #{lang.siteDevelop[version]}
        +img('smarto.svg')
<!-- этот код вставляется перед закрывающим тегом </BODY> -->
<script type="text/javascript" charset="utf-8" src="//istat24.com/js/replace.js"></script>
<script type="text/javascript">replaceIstatDynamic(1,1369);</script>
<!-- конец кода который вставляется перед закрывающим тегом </BODY> -->
.unvisible-block
    form.callback-form(data-name="send-message")
        +callback-border()
        +svg('close-white-button').close-button
        legend #{lang.zvorot[version]}
        .input-group
            +svg('circle-white-tel-tube').decor-icon
            input(type='text' name='name' placeholder="Ім'я" data-required="true") 
        .input-group
            +svg('circle-white-man').decor-icon
            input(type='text' name="tel" placeholder="Телефон:" data-required="true")
        button(type="submit").link.white.submit-js #{lang.send[version]}